{{> head }}
{{> navbar }}
    <main>
        <div>
            <h1>Sobre nosotros</h1>
        </div>
        <div>
            <img src="/assets/img/ironspider.png" alt="" class="img-thumbnail">
        </div>
    </main>
{{> footer }}