{{> head }}
{{> navbar }}
    <main>
        <h1>Hola {{capitalize "david arias" }} </h1>
        <p>
            Cualquier texto
        </p>
        <button>Aprender más</button>
    </main>
{{> footer }}